header.masthead {
  position: relative;
  background-color: $gray-800;
  background: url('../img/bg-masthead.jpg') no-repeat center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  // background: linear-gradient(to bottom, #{fade-out($color-royalblue-dark, .4)} 0%,#{fade-out($color-royalblue-light, .4)} 100%), url('../img/bg-masthead.jpg');
  @include background-cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  .overlay {
    position: absolute;
    background-color: $gray-900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
  }
  h1 {
    font-size: 2rem;

  }
  @media (min-width: 768px) {
    //padding-top: 12rem;
    padding-top: 3rem;
    padding-bottom: 6rem;
    h1 {
      font-size: 3rem;
      margin: 2.2rem 0;
    }
  }
  .sub-heading-top {
    font-size: 1.2rem;
    line-height: 1.8;


  }
  .card {
    border: 1px solid rgba(0,0,0, .5);
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,.45);
    &-header {
      h2 {
        font-size: 1.5rem;
        color: $light;
      }
    }
  }
  .form-info {
    padding: 1rem;
    border-radius: .25rem;
    color: #2f2f2f;
    //background-color: #fefefe;
    background-color: #f6f6f6;
    h1,h2,h3 {
      color:  #555;
    }
    legend {
      font-size: 1rem
    }

  }
  .signature-check {
    min-width: 100%;
  }
}
