#mainNav {
  // .brand-wrapper {
  //   background: $color-accent-color;
  //   padding: 2px 5px;
  //   border-radius: 5px;
  //   color: #fff;
  // }
 a.navbar-brand{
    font-family: 'Satisfy',cursive;
    font-size: 1.5rem;
    font-weight: 400;
  }

  a.nav-link {
    color: $gray-200;
    &:hover {
      color: $color-primary-light;
    }
  }
}
